* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.js-startPage{
    position: relative;
    background-color: yellow;
    height: 100%;
}

.container{
    position: relative;
    display: block;
    margin: 0 auto;
    border 2px solid red;
    width: 412px;
    height: 100%;
}

#js-userbutton {
    position: absolute;
    bottom: 5px;
    left: 126px;
    z-index: 50;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    border-color: yellow;
    font-size: 20px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    background-color: gold;
    color: purple;
}

#js-userbutton:focus{
    outline: none;
}

#js-userbutton.disabled{
    background-color: lightgrey;
    border-color: grey;
    color: darkgrey;
    opacity: 0.75;
    cursor: not-allowed;
}

#js-settingsbutton {
    position: absolute;
    bottom: 55px;
    left: 126px;
    z-index: 50;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    border-color: #a25840;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c2846b;
    color: black;
}

#js-settingsbutton:focus{
    outline: none;
}

.js-splashImage{
    display: block;
    margin: 0 auto;
    height: 100%;
}

.js-settingsImage{
    display: block;
    margin: 0 auto;
    height: 100%;
}

.js-questionsImage{
    display: block;
    margin: 0 auto;
    height: 100%;
}

.js-feedbackImage{
    display: block;
    margin: 0 auto;
    height: 100%;
}

.js-wrapImage{
    display: block;
    margin: 0 auto;
    height: 100%;
}

.js-correct{
    color: green;
}

.js-incorrect{
    color: red;
}

.js-questionsPage{
}

.js-scoreBox{
    position: absolute;
    left: 136px;
    top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid darkgrey;
    border-radius: 4px;
    background-color: lightyellow;
    height: 24px;
    width: 140;
    text-align: center;
}

.js-questionCounter{
    position: absolute;
    left: 116px;
    top: 30px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 12pt;
    font-weight: 700;
    border: 3px solid darkgrey;
    border-radius: 4px;
    background-color: lightblue;
    height: 36px;
    width: 180;
    padding-top: 4px;
    text-align: center;
}

.js-screenQuestion{
    position: absolute;
    top: 150px;
    left: 20px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 12pt;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 4px;
    background-color: azure;
    width: 90%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.js-fourQuestionBox{
    position: absolute;
    top: 270px;
    left: 20px;
    border: 3px solid blue;
    border-radius: 4px;
    background-color: cornsilk;
    width: 90%;
    text-align: center;
}

.js-twoQuestionBox{
    position: absolute;
    top: 270px;
    left: 20px;
    border: 3px solid blue;
    border-radius: 4px;
    background-color: cornsilk;
    height: 56px;
    width: 90%;
    text-align: center;
}

.js-radioButton:before{
    content: '\200B';
    display: inline-block;
}

.js-radioButton{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 12pt;
    font-weight: 700;
    text-align: left;
    padding: 4px;
}

.js-feedBackImageRight{
    position: absolute;
    top: 110px;
    left: 80px;
}

.js-feedBackImageWrong{
    position: absolute;
    top: 110px;
    left: 80px;
}

.js-feedbackQuestion{
    position: absolute;
    top: 350px;
    left: 20px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 12pt;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 4px;
    background-color: azure;
    width: 90%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;    
}

.js-correctAnswer{
    position: absolute;
    top: 450px;
    left: 20px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 12pt;
    font-weight: 700;
    color: green;
    border: 3px solid blue;
    border-radius: 4px;
    background-color: cornsilk;
    width: 90%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.js-userAnswer{
    position: absolute;
    top: 550px;
    left: 20px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 12pt;
    font-weight: 700;
    color: red;
    border: 3px solid blue;
    border-radius: 4px;
    background-color: cornsilk;
    width: 90%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.js-wrapScore{
    position: absolute;
    top: 30px;
    left: 80px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 12pt;
    font-weight: 700;
    border: 3px solid indigo;
    border-radius: 4px;
    background-color: cornsilk;
    width: 60%;
    padding-top: 4px;
    padding-bottom: 1px;
    text-align: center;
}

.js-scorePercent{
    font-size: 16pt;
    color: blue;
}

.js-evalList{
    position: absolute;
    top: 84px;
    left: 3px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 12pt;
    border: 3px solid orange;
    border-radius: 4px;
    background-color: cornsilk;
    width: 98%;
    max-height: 600px;
    overflow: auto;
    text-align: left;
}

.js-settingsForm{
    font-family: 'Arial Black', Gadget, sans-serif;
    position: absolute;
    bottom: 80px;
    left: 30px;
    width: 350px;
    height: 60px;
    font-size: 8pt;
    border: 3px solid #454545;
    border-radius: 4px;
    background-color: silver;
}

.js-1stWidget{
    position: absolute;
    left: 10;
    top: 2;
    width: 140px;
    height: 48px;
}

.js-2ndWidget{
    position: absolute;
    left: 160;
    top: 2;
    width: 180px;
    height: 48px;
}

#js-questionsToDo, #js-category{
    font-family: 'Arial Black', Gadget, sans-serif;
    position: absolute;
    left: 10px;
    top: 20px;
    color: black;
    background-color: lightgrey;
    border: 1px solid #454545;
    border-radius: 5px;
}

